<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlitzDocs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
  <applicationSettings>
        <BlitzDocs.Properties.Settings>
              <setting name="BlitzDocs_Indexing_Indexing" serializeAs="String">
                    <value>https://stage.blitzdocs.net/services/Indexing.asmx</value>
              </setting>
              <setting name="BlitzDocs_Folder_FolderService" serializeAs="String">
                    <value>https://stage.blitzdocs.net/services/Folder.asmx</value>
              </setting>
              <setting name="BlitzDocs_Document_DocumentService" serializeAs="String">
                    <value>https://stage.blitzdocs.net/services/Document.asmx</value>
              </setting>
              <setting name="BlitzDocs_DocumentShareDocument_DocumentShareDocumentService"
                    serializeAs="String">
                    <value>https://stage.blitzdocs.net/services/DocumentShareDocument.asmx</value>
              </setting>
              <setting name="BlitzDocs_FolderDocument_FolderDocumentService"
                    serializeAs="String">
                    <value>https://stage.blitzdocs.net/services/FolderDocument.asmx</value>
              </setting>
        </BlitzDocs.Properties.Settings>
    </applicationSettings>
</configuration>
